/* .....................................variables.............................................  */
/* .....................................variables.............................................  */
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #ebf5fb, #27374d);
}

ul,
ol,
li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* ..................................mixin...............................................  */
/* .................................................................................  */
.course-container {
  margin: 0 15%;
  flex-grow: 1;
}

.header {
  color: #27374d;
  position: relative;
  margin: 0rem 0 3.5rem 0;
  padding-top: 2.4rem;
}

.line-break::before {
  position: absolute;
  content: "";
  border: 0.2rem solid #27374d;
  padding: 0 8rem;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 15%);
}

.stages,
.grades,
.select-term {
  position: relative;
}

.stages {
  outline: 0.2rem solid #27374d;
}
.stages__btn {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem;
  text-align: start;
  font-size: 1.08rem;
  font-weight: bold;
  border: none;
  color: #27374d;
  background-color: #ebf5fb;
}
.stages__btn--defualt {
  background-color: #d6eaf8;
}
.stages__text {
  font-size: 1.26rem;
  color: #27374d;
}
.stages__menu {
  position: absolute;
  display: none;
  width: 100%;
  top: 110%;
  outline: 2px solid #d6eaf8;
  z-index: 1;
}
.stages__menu .stages__btn:hover {
  background-color: #d6eaf8;
}

@media screen and (max-width: 1201px) {
  .grades-container {
    padding-top: 1.5rem;
  }
}
@media screen and (max-width: 992px) {
  .grades-container {
    padding-top: 0.8rem;
  }
}

.grades-block {
  margin: 0 1rem;
}
@media screen and (max-width: 1201px) {
  .grades-block {
    margin: 0;
  }
}

.grades {
  outline: 0.2rem solid #27374d;
}
.grades__btn {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem;
  text-align: start;
  font-size: 1.08rem;
  font-weight: bold;
  border: none;
  color: #27374d;
  background-color: #ebf5fb;
}
.grades__btn--defualt {
  background-color: #d6eaf8;
}
.grades__text {
  font-size: 1.26rem;
  color: #27374d;
}
.grades__menu-prim, .grades__menu-prep, .grades__menu-sec {
  position: absolute;
  display: none;
  width: 100%;
  top: 110%;
  outline: 2px solid #d6eaf8;
  z-index: 1;
}
.grades__menu-prim {
  height: 150px;
  overflow-y: scroll;
}
.grades__menu-prim .grades__btn:hover, .grades__menu-prep .grades__btn:hover, .grades__menu-sec .grades__btn:hover {
  background-color: #d6eaf8;
}

@media screen and (max-width: 1201px) {
  .select-term-container {
    padding-top: 1.5rem;
  }
}
@media screen and (max-width: 992px) {
  .select-term-container {
    padding-top: 0.8rem;
  }
}

.select-term {
  outline: 0.2rem solid #27374d;
}
.select-term__btn {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem;
  text-align: start;
  font-size: 1.08rem;
  font-weight: bold;
  border: none;
  color: #27374d;
  background-color: #ebf5fb;
}
.select-term__btn--defualt {
  background-color: #d6eaf8;
}
.select-term__text {
  font-size: 1.26rem;
  color: #27374d;
}
.select-term__menu {
  position: absolute;
  display: none;
  width: 100%;
  top: 110%;
  outline: 2px solid #d6eaf8;
  z-index: 1;
}
.select-term__menu .select-term__btn:hover {
  background-color: #d6eaf8;
}

.final-course {
  margin: 1.7rem 0;
  padding-top: 2.5rem;
}
.final-course .btn {
  background-color: #ebf5fb;
  display: block;
  text-align: center;
  font-size: 1.33rem;
  font-weight: bold;
  color: #27374d;
  box-shadow: 0.35rem 0.35rem #27374d;
}
.final-course .btn:hover {
  background-color: #d6eaf8;
}
.final-course .btn:active {
  color: black;
}

.modal-groud {
  background-color: rgba(235, 245, 251, 0.3);
}

.model-bt-auto {
  margin: 0 auto;
}

.active {
  display: block !important;
}

.fade {
  opacity: 0.5 !important;
  transform: scale(0.981);
}

.footer {
  margin: 0;
  flex-shrink: 1;
  width: 100%;
  text-align: center;
  background-color: #ebf5fb;
  padding: 0.3rem 0;
}
.footer__designed {
  line-height: 0.7rem;
}
.footer__text {
  padding-top: 0.4rem;
  font-size: 1.08rem;
  color: #27374d;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .footer__text {
    line-height: 1.2rem;
    font-size: 0.87rem;
  }
}
.footer__text--line {
  font-size: 1.26rem;
  text-decoration: underline;
  color: #27374d;
}
@media screen and (max-width: 576px) {
  .footer__text--line {
    font-size: 1.08rem;
  }
}
.footer__supervision {
  border-left: 0.2rem solid #27374d;
  line-height: 0.7rem;
}

@media screen and (max-width: 576px) {
  .footer__text--nam1 {
    text-align: start;
  }
  .footer__text--nam2 {
    text-align: end;
  }
}/*# sourceMappingURL=style.css.map */